<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            color: fuchsia;
            background-color: bisque;
            height: 400px;
            width: 500px;
        }
        div:hover{
            color: bisque;
            background-color: fuchsia;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>
<body>
    <center>
        <div>
            <h1>IFELIF</h1>
            {% if age > 17  %}
            <h1>{{name}} is above 18</h1>
            {% elif age > 20  %}
            <h1>{{name}} is above 18</h1>
            {% elif age > 25  %}
            <h1>{{name}} is above 25</h1>
            {% endif %}
        </div>
    </center>
</body>
</html>